.App {
  text-align: center;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {}

.card{
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
}

.card:hover{
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.5);
}

.recipe-box{
  padding: 2px 15px;
}